body {
  background: #18191a;
  color: #FFF;
}

header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  margin: 0;
}

.header-menu-item{
  display: flex;
}

.header-menu-item a {
  color: #FFF;
}